{% import "form/form_inputs.html.twig" as forms %}

<div class="appControlModal appControlModal--small">
    <a class="appControlModal__close close-modal">
        <div class="icon ucrm-icon--close"></div>
    </a>

    <div class="appControlModal__header">
        {% trans %}New comment{% endtrans %}
    </div>

    <div class="appControlModal__content appControlModalScrollableContent container--comfy">
        {{ form_start(form, { attr: { class: 'ajax', id: 'new-comment-form' }}) }}
            <div class="row">
                <div class="col--xs12 appFormGroup">
                    {{ form_widget(form.message, { attr: { class: 'input--full save-shortcut autosize' } }) }}
                    {{ form_errors(form.message) }}
                </div>
            </div>
        {{ form_end(form) }}
    </div>

    <div class="appControlModal__content appControlModal__content--ctrl">
        <div class="flexRow flexRow--alignCenter">
            <div class="flexCol--12 alignRight">
                <span class="appInputGroup">
                    <a href="#" class="button button--transparent close-modal">{% trans %}Cancel{% endtrans %}</a>
                    <button class="button button--primary-fill" form="new-comment-form">{% trans %}Save{% endtrans %}</button>
                </span>
            </div>
        </div>
    </div>
</div>
