<div class="timeline-popup__container">
    <div class="row timeline-popup__header">
        <div class="col--xs10 timeline-popup__title">
            <span class="timeline-popup__title__inner">
                {% trans %}Access denied{% endtrans %}
            </span>
        </div>
        <div class="col--xs2 timeline-popup__ctrl">
            <a href="#" class="timeline-popup__ctrl__close">
                <span class="icon ucrm-icon--close"></span>
            </a>
        </div>
    </div>

    <div class="timeline-popup__body">
        <p class="noMarginBottom">
            {% trans %}You do not have permission to view the requested page.{% endtrans %}
        </p>
    </div>
</div>
