<div class="ticket-list">
    <div class="ticket-list__content">
        {% include '@Ticketing/user/tickets/components/ticket_list_page.html.twig' %}
    </div>

    <div class="ticket-list__loading">
        <div class="appSpinner appSpinner--inline"></div>
    </div>
</div>
